
.chat{
  margin-top: 1rem;
}
.center-notification{
  display: flex;
  gap: 10px;
}
.list-item-all{
  width: 100%;
  height: 100%;
}
.list-item-all :hover  {
  cursor: pointer;
  background-color: #212529;
  color: whitesmoke;
}
.selecte-recever{
  background-color: #212529;
  color: whitesmoke;
}
div.chat-content{
  border-radius: .25rem;
  height: 30rem;
  margin-bottom: 2rem;
}
.card{
  height: 100%;
}

.notification{
  background-color: #A7A8AA;
  color: whitesmoke;
}
.number-notif{
  color: #d90909;
  font-size: 15px;
}
