
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        Bienvenue {{profile.username}}
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/sec" *ngIf="keycloakService.getUserRoles().includes('SUPER_ADMIN')" class="nav-link px-2 link-secondary">Administrateurs</a></li>
      <li><a href="/administrateur" *ngIf="keycloakService.getUserRoles().includes('ADMIN')" class="nav-link px-2">Les bureaux</a></li>
      <li><a href="#" class="nav-link px-2">Pricing</a></li>
      <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="/chat" class="nav-link px-2">Contacter</a></li>
    </ul>

    <div class="col-md-3 text-end" >
      <button mat-button extended (click)="login()" *ngIf="!profile.username">
        <mat-icon>login</mat-icon>
        Connexion
      </button>
      <button mat-button extended (click)="logout()" *ngIf="profile.username">
        <mat-icon>login</mat-icon>
        Se déconnecter
      </button>
    </div>
  </header>
</div>
<div class="b-example-divider"></div>

<div class="container">



<router-outlet></router-outlet>
</div>

