<form (ngSubmit)="addContact(addContactForm)" #addContactForm="ngForm">
  <div class="container " style="margin-top: 5%;">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-auto">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Prenom</mat-label>
            <input matInput placeholder="Placeholder" type="text" name="prenom" [(ngModel)]="prenom">
            <mat-icon matSuffix>person_icon</mat-icon>

          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Type contact</mat-label>
            <input matInput placeholder="Placeholder" name="type_contact" [(ngModel)]="type_contact">
            <mat-icon matSuffix>scatter_plot_icon</mat-icon>
          </mat-form-field>
        </p>


        <p>
          <mat-form-field appearance="fill">
            <mat-label>Civilité</mat-label>
            <input matInput placeholder="Placeholder" name="civilite" [(ngModel)]="civilite">
            <mat-icon matSuffix>people_icon</mat-icon>
          </mat-form-field>
        </p>


      </div>


      <div class="col-auto">

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Placeholder" name="nom" [(ngModel)]="nom">
            <mat-icon matSuffix>person_icon</mat-icon>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>téléphone</mat-label>
            <input matInput placeholder="Placeholder" name="telephone" [(ngModel)]="telephone">
            <mat-icon matSuffix>perm_contact_calendar_icon</mat-icon>

          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder" name="email" [(ngModel)]="email">
            <mat-icon matSuffix>alternate_email_icon</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div class="col-auto">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Service</mat-label>
            <input matInput placeholder="Placeholder" name="service" [(ngModel)]="service">
            <mat-icon matSuffix>local_play_icon</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Fonction</mat-label>
            <input matInput placeholder="Placeholder" name="fonction" [(ngModel)]="fonction">
            <mat-icon matSuffix>star_icon</mat-icon>

          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Portable</mat-label>
            <input matInput placeholder="Placeholder" name="portable" [(ngModel)]="portable">
            <mat-icon matSuffix>perm_contact_calendar_icon</mat-icon>

          </mat-form-field>
        </p>

      </div>
    </div>

  </div>


  <div class=" row d-flex align-items-center justify-content-center">
    <div class="col-4"></div>

    <div class="col-auto">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Télécopie</mat-label>
          <input matInput placeholder="Placeholder" name="telecopie" [(ngModel)]="telecopie">
          <mat-icon matSuffix>scanner_icon</mat-icon>
        </mat-form-field>
      </p>

    </div>

    <div class="col-4"></div>
  </div>
  <!--  L'ajout de compte bancaire avec le combobox recherche des plancomptable items-->
  <div class=" row">
    <div class="col-2"></div>

    <button type="submit" class="col-8 btn btn-primary">Ajouter</button>

    <div class="col-2"></div>
  </div>

</form>

