<button class="action-button" mat-fab color="basic"  [routerLink]="['../../../compte-generaux',idSociete]"  ><mat-icon> keyboard_arrow_left_icon</mat-icon></button>

<form (ngSubmit)="updateCompteGeneral(updateCompteGeneralForm)" #updateCompteGeneralForm="ngForm">
  <div class="container " style="margin-top: 5%;">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-auto">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Nature de compte</mat-label>
            <input matInput placeholder="Placeholder" name="natureCompte" [(ngModel)]="natureCompte">
            <mat-icon matSuffix>card_travel_icon</mat-icon>
          </mat-form-field>
        </p>





      </div>

      <div class="col-auto">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Début fourchette</mat-label>
            <input matInput placeholder="Placeholder" name="debutFaurchette" [(ngModel)]="debutFaurchette">
            <mat-icon matSuffix>local_activity_icon</mat-icon>
          </mat-form-field>
        </p>

      </div>
      <div class="col-auto">

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Fin fourchette</mat-label>
            <input matInput placeholder="Placeholder" name="finFaurchette" [(ngModel)]="finFaurchette">
            <mat-icon matSuffix>location_on_icon</mat-icon>
          </mat-form-field>
        </p>


      </div>

    </div>

  </div>
  <div class="row d-flex align-items-center justify-content-center div-btn">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary flex-fill">Modifier</button>
    </div>
  </div>

</form>


